* {
    box-sizing: border-box;
}

html,
body {
    height:100vh;
    font-size: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(28, 19%, 35%);
    font-weight: 500;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.27);

    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    max-width: 375px;
    text-align: center;
    z-index: 2;
    background: linear-gradient(hsl(0, 0%, 100%), hsl(0, 75%, 97%));
}

.logo {
    background: url("../images/logo.svg") center no-repeat;
    background-size:contain;
    height: 25px;
    margin: 0rem 20rem 2.5rem 0;
    background-color: white;
}

.hero-image {
    background: url("../images/hero-mobile.jpg")center no-repeat;
    background-size: contain;
    height: 260px;
}

h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: black;
    letter-spacing: 10px;
    font-weight: 500;
    margin-top: 5.5rem;
    line-height: 4.7rem;
}
.we-are {
    font-weight: 300;
    color: #d19fa2;
}
.all-the-text {
    margin-bottom: 5rem;
}

.regular-text {
    margin-left: 3rem;
    width: 85%;
    font-size: 1.5rem;
    color: #d8aaad;
    font-weight: 400;
    line-height: 2.5rem;;
}

input {
    width: 80%;
    border-radius: 25px;
    border: 1px solid rgba(106, 1, 1, 0.336);
    padding: 1.8rem 0 1.8rem 2rem;
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(0, 75%, 97%);
    margin: 2rem 0 5rem 0;
    z-index: 2;
    position: relative;
}
 input:invalid {
    background-color: ivory;
    outline: 2px solid red;
    border-radius: 25px;
  }
::placeholder {
    color: rgba(149, 34, 34, 0.263);
    text-align: left;
    font-size: 1.5rem;
}
input:hover {
    background-color: rgb(255, 255, 255);
}
div .error {
    background: url("../images/icon-error.svg")center no-repeat;
    height: 5rem;
    width: 20%;
    margin-left: 20rem;
    margin-top: -10rem;
    position: relative;
    z-index: 3;
}
p.error-text {
    color: hsla(0, 57%, 57%, 0.611);
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem 0rem 0rem -12rem;

}

.button {
    z-index: 3;
    background: url("../images/icon-arrow.svg") center no-repeat;
    height: 2.5rem;
    background-color: hsla(0, 93%, 68%, 0.611);
    border-radius: 25px;
    padding: 2.5rem 3.5rem 2.5rem 3.5rem;
    position: absolute;
    margin-top: 2rem;
    margin-left: 26.8rem;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.27);
}
.button:hover {
    background-color: hsla(0, 100%, 82%, 0.611);
    cursor: pointer;
}

footer {
    position: absolute;
    margin-top: 85rem;
}

.hide {
    display: none;
}


/* DESKTOP */
/* Add a media query for 1440px */
@media (min-width: 1440px) {
    body{
        padding-top: 0rem;

            height: 57rem;

    }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1090px;
    height: 580px;
  }

  .logo {

    width: 10%;
    margin-bottom: 45rem;
    position: absolute;
    margin-right: 77rem;

  }

  .hero-image {
    background: url("../images/hero-desktop.jpg")no-repeat;
    background-size: cover;
    order: 3;
    width: 91rem;
    height: 58rem; 
  }

  .all-the-text {
    order: 2;
    text-align: left;
    margin: 12rem 0 5rem 10rem;
    position: relative;
  }
  h1 {
    font-size: 4rem;
  }
  .regular-text {
    margin: 0 0 0 0;
    padding-right: 5rem;
  }

  input {
    width: 75%;
  }
  input:invalid {
    background-color: ivory;
    outline: 2px solid red;
    border-radius: 25px;
  }

div .error {
    background: url("../images/icon-error.svg")center no-repeat;
    height: 5rem;
    width: 20%;
    margin-left: 24rem;
    margin-top: -10rem;
    position: relative;
    z-index: 3;
}
p.error-text {
    color: hsla(0, 57%, 57%, 0.611);
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem 0rem 0rem 2rem;

}

  .button {
    margin: 2.1rem 0 2rem 31.9rem;
    padding: 2.5rem 4.2rem 2.5rem 4.2rem;
  }
  footer {
    margin-bottom: 20rem;
  }
}